## Fehlerbehandlung mit Pandas

Fehler in den Daten beheben

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", decimal=".", thousands=",", delimiter=",", index_col="Country")

In [3]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Probleme mit den Daten

- Prozentzeichen
- Leere Felder (NaN)
- N.A. (Text)
- Datentypen

### NaN

isnull(), isna()

notnull(), notna()

In [4]:
data.isnull()  # Boolean Maske über das gesamte Datenset legen

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

In [5]:
data.isnull().value_counts()

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  Fert.Rate  Med.Age  UrbanPopPct  WorldSharePct
False  False         False      False    False     False     False      False    False        False            201
                                                   True      False      False    False        False             34
Name: count, dtype: int64

In [6]:
data.ffill()

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [7]:
data.ffill(inplace=True)

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

#### Manuelles füllen

In [8]:
b = data["Migrants"].isna()

In [9]:
x = data[b]

In [10]:
mult = np.array([(np.random.random() - 0.5) * 2 for i in range(len(x))])

m = (x["Pop"] / 100) * mult

In [11]:
m.astype(int)

Series([], Name: Pop, dtype: int64)

In [12]:
x["Migrants"] = m.astype(int)

In [13]:
x

Empty DataFrame
Columns: [Pop, YearlyChange, NetChange, Density, LandArea, Migrants, Fert.Rate, Med.Age, UrbanPopPct, WorldSharePct]
Index: []

### N.A.

Keine automatische Lösung -> manuell

Hier wird die string Replace Funktion verwendet

In [14]:
data == "N.A."

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [15]:
(data == "N.A.").value_counts()

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  Fert.Rate  Med.Age  UrbanPopPct  WorldSharePct
False  False         False      False    False     False     False      False    False        False            194
                                                             True       True     False        False             28
                                                             False      False    True         False              7
                                                             True       True     True         False              6
Name: count, dtype: int64

In [16]:
data["Fert.Rate"].replace("N.A.", "0")

Country
China               1.7
India               2.2
United States       1.8
Indonesia           2.3
Pakistan            3.6
                   ...
Montserrat            0
Falkland Islands      0
Niue                  0
Tokelau               0
Vatican State         0
Name: Fert.Rate, Length: 235, dtype: str

In [17]:
data["Fert.Rate"] = data["Fert.Rate"].replace("N.A.", "0")

In [18]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

In [19]:
def fixNA(columnName, newValue):
    data[columnName] = data[columnName].replace("N.A.", newValue)

In [20]:
data.columns

Index(['Pop', 'YearlyChange', 'NetChange', 'Density', 'LandArea', 'Migrants',
       'Fert.Rate', 'Med.Age', 'UrbanPopPct', 'WorldSharePct'],
      dtype='str')

In [21]:
for col in data.columns:
    fixNA(col, 0)

In [22]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

### Prozentzeichen

Selbes Szenario

In [23]:
data["YearlyChange"].replace(" %", "", regex=True)  # [ ]*[%][ ]*: Regex zur Suche von beliebig vielen Abständen davor/danach

Country
China               0.39
India               0.99
United States       0.59
Indonesia           1.07
Pakistan            2.00
                    ...
Montserrat          0.06
Falkland Islands    3.05
Niue                0.68
Tokelau             1.27
Vatican State       0.25
Name: YearlyChange, Length: 235, dtype: str

In [24]:
data["YearlyChange"] = data["YearlyChange"].replace(" %", "", regex=True)

In [25]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00 %

In [26]:
def fixPct(colName):
    data[colName] = data[colName].replace(" %", "", regex=True)

In [27]:
for col in data.columns:
    fixPct(col)

In [28]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

### Datentypen

Bei der Behebung von Fehlern, werden die Typen nicht automatisch angepasst

In [29]:
data.info()

<class 'pandas.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pop            235 non-null    int64
 1   YearlyChange   235 non-null    str
 2   NetChange      235 non-null    int64
 3   Density        235 non-null    int64
 4   LandArea       235 non-null    int64
 5   Migrants       235 non-null    float64
 6   Fert.Rate      235 non-null    str
 7   Med.Age        235 non-null    object
 8   UrbanPopPct    235 non-null    object
 9   WorldSharePct  235 non-null    str
dtypes: float64(1), int64(4), object(2), str(3)
memory usage: 28.3+ KB

In [30]:
data.convert_dtypes().info()  # Verursacht, Datentypen automatisch zu konvertieren

<class 'pandas.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pop            235 non-null    Int64
 1   YearlyChange   235 non-null    string
 2   NetChange      235 non-null    Int64
 3   Density        235 non-null    Int64
 4   LandArea       235 non-null    Int64
 5   Migrants       235 non-null    Int64
 6   Fert.Rate      235 non-null    string
 7   Med.Age        235 non-null    object
 8   UrbanPopPct    235 non-null    object
 9   WorldSharePct  235 non-null    string
dtypes: Int64(5), object(2), string(3)
memory usage: 29.4+ KB

In [31]:
data["Pop"] = data["Pop"].astype(np.int32)

In [32]:
def fixType(colName, newType):
    data[colName] = data[colName].astype(newType)

In [33]:
fixType("YearlyChange", np.float32)

In [35]:
fixType("NetChange", np.int32)

In [37]:
fixType("Density", np.int16)

In [38]:
fixType("LandArea", np.int32)

In [39]:
fixType("Migrants", np.int32)

In [40]:
fixType("Fert.Rate", np.float32)

In [41]:
fixType("Med.Age", np.int8)

In [42]:
fixType("UrbanPopPct", np.int8)

In [44]:
fixType("WorldSharePct", np.float32)

In [46]:
data.info()

<class 'pandas.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pop            235 non-null    int32
 1   YearlyChange   235 non-null    float32
 2   NetChange      235 non-null    int32
 3   Density        235 non-null    int16
 4   LandArea       235 non-null    int32
 5   Migrants       235 non-null    int32
 6   Fert.Rate      235 non-null    float32
 7   Med.Age        235 non-null    int8
 8   UrbanPopPct    235 non-null    int8
 9   WorldSharePct  235 non-null    float32
dtypes: float32(3), int16(1), int32(4), int8(2)
memory usage: 17.3+ KB

In [48]:
17.3 / 29.4  # ~41% Ersparnis

0.58843537414966

In [49]:
data.to_csv("Data/PopulationDataFertig.csv")